.header {
  margin-top: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1.8rem;
  width: auto;
  align-items: center;
  margin-right: 0.5rem;
  border-radius: 30px;
}

.app-title {
  font-size: 1.125rem;
  font-weight: 500;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.link {
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 640px) {
  .logo {
    height: 1.65rem;
  }

  .app-title {
    font-size: 0.95rem;
  }

  .link {
    font-size: 0.95rem;
  }
}
